.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
bathymetry
vignettes/NOAA_CUDEM/*
WEMo_polygon.dbf
WEMo_polygon.prj
WEMo_polygon.shp
WEMo_polygon.shx
wemo_poly.cpg
wemo_poly.dbf
wemo_poly.prj
wemo_poly.sbn
wemo_poly.sbx
wemo_poly.shp
wemo_poly.shx
docs
logos/*
*NOAA_CUDEM*
/doc/
/Meta/
